/*
 * Originally based on github.com/sjaakvandenberg/cleaver-dark
 */

/* Theme Styles */
body {
  font-family: 'Press Start 2P', 'Helvetica', sans-serif;
  font-size: 80%;
  text-align: center;
  overflow: hidden;
  color: #ccc;
  text-shadow: 1px 1px 0 #000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Presentation Styles */
.slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 120%;
  line-height: 1.375;
  overflow: hidden;
}

.valign-top {
  align-items: flex-start;
}

.valign-bottom {
  align-items: flex-end;
}

.no-margin {
  margin: 0;
}

.contact p {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.contact .social {
  font-size: 1em;
}

.contact h3 {
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  max-height: 100%;
  max-height: calc(100vh - 3em); /* Allow space for captions by default */
}

video {
  max-width: 90vw;
  max-height: 85vh;
}

video + .caption {
  font-size: 0.6em;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

.arrow {
  float: left;
  height: 0;
  width: 0;
  margin-right: 15px;
  border: 15px solid #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.prev {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-width: 0;
}

.prev:hover {
  border-top-color: transparent;
  border-right-width: 25px;
  border-bottom-color: transparent;
  border-left-width: 0;
  border-left-color: #ccc;
}

.next {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-width: 25px;
}

.next:hover {
  border-top-color: transparent;
  border-right-color: transparent;
  border-right-width: 0;
  border-left-width: 25px;
  border-left-color: #ccc;
}

h1, h2 {
  margin: 0 0 0.25em 0;
  font-weight: bold;
  transform: scaleX(1.05);
}

h1 {
  font-size: 300%;
  line-height: 1.5;
}

h2 {
  font-size: 175%;
  line-height: 1.4;
}

h2:last-child {
  margin-bottom: 0;
}

h3 {
  margin: 0.5em 0 1em 0;
  font-size: 150%;
  line-height: 1.4;
  border-bottom: none;
  font-weight: normal;
}

h4 {
  margin: 0.5em 0 1em 0;
  font-size: 120%;
  line-height: 1.3;
  border-bottom: none;
  font-weight: normal;
}

ul,
ol {
  margin: 0.5 0 1em 0;
  padding: 0 0 0 45px;
  line-height: 1.4;
  font-size: 1.15em;
  display: inline-block;
}

li {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 1em;
}

li code {
  font-size: 0.9em;
}

.long-list li {
  font-size: 0.9em;
}

blockquote {
  font-style: italic;
  font-size: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

pre {
  font-size: 75%;
  line-height: 1.3;
  text-align: left;
  padding: 1em 2em;
  margin-bottom: 1em;
  background: #fafafa;
}

table td,
table th {
  padding: 0 2em;
}

.progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3px;
}

.progress-bar {
  height: 3px;
  width: 0;
  background-color: #987fff;
  -webkit-transition: width .15s ease-out;
  -moz-transition: width .15s ease-out;
  -o-transition: width .15s ease-out;
  transition: width .15s ease-out;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.caption {
  font-size: 0.7em;
  margin-top: 0.5em;
  font-weight: normal;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
  color: #aaa;
  clear: both;
}

.credits {
  margin-top: 5em;
  font-size: 0.5em;
  font-weight: normal;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
}

/* Quote by... */
blockquote + p {
  font-size: 0.9em;
  margin-top: 1em;
}

/* Code Highlighting */
code {
  font-family: Courier, sans-serif;
  border-radius: 3px;
  font-weight: 500;
  text-shadow: none;
  -webkit-text-stroke-width: 0;
}

pre {
  display: inline-block;
  border-radius: 1em;
}

pre code {
  display: block;
  color: #444;
  font-size: 1.2em;
  line-height: 1.5em;
  overflow-y: hidden;
  background: transparent;
}

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #704dff;
}

pre code .constant {
  color: #66d9ef;
}

pre .class .title {
  color: #fafafa;
}

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #bf79db;
}

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #987fff;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #aaa;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  /* font-weight: 600; */
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: .5;
}

.hljs-keyword {
  color: #704dff;
}

.hljs-string {
  color: #987fff;
}

.hljs-title {
  color: #673280;
}

.hljs-comment {
  color: #777;
}

/* Media Queries */
/* 640 x 480 is the default (80%) */

/* 800 x 600 */
@media (min-width: 800px) and (min-height: 600px) {
    body {
        font-size: 125%;
    }
}

/* 1024 x 768 */
@media (min-width: 1024px) and (min-height: 768px) {
    body {
        font-size: 160%;
    }
}

/* 1152 x 864 */
@media (min-width: 1152px) and (min-height: 864px) {
    body {
        font-size: 180%;
    }
}

/* 1280 x 960 */
@media (min-width: 1280px) and (min-height: 960px) {
    body {
        font-size: 200%;
    }
}

/* 1440 x 1080 */
@media (min-width: 1440px) and (min-height: 1080px) {
    body {
        font-size: 225%;
    }
}

/* 1600 x 1200 */
@media (min-width: 1600px) and (min-height: 1200px) {
    body {
        font-size: 250%;
    }
}

/* 1920 x 1440 */
@media (min-width: 1920px) and (min-height: 1440px) {
    body {
        font-size: 300%;
    }
}

/* Override theme */
@media (max-width: 850px) {
  img {
    width: auto;
  }
}

/* Print styles used for saving to PDF */
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  .slide {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    page-break-after: always;
    background-color: #fff;
  }
}

/* Common slide contents */
.contact {
  margin-top: 3em;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.4em;
  color: #666;
}

.credit a {
  color: #7a7a7a;
}

.corner-logos {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.corner-logos img {
  max-width: 3em;
}

.iframe .slide-content {
  height: 100%;
  padding: 0;
}

.img-with-caption p {
  margin: 0;
}

.img-with-caption img {
  max-height: calc(100vh - 4em);
}

.img-with-header img {
  max-height: calc(100vh - 8em);
}

.slide .pun {
  color: #c4c3f5;
  font-size: 1em;
  font-style: italic;
}

.strikethrough {
  position: relative;
  padding: 0 5px;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 55%;
  right: 0;
  border-top: 5px solid rgba(230, 50, 25, 0.8);

  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  transform:rotate(-8deg);
}

h2 + .quote {
  margin-top: 2em;
}

.align-top .slide-content {
  padding: 0;
  height: 100%;
}

.align-top .slide-content img {
  position: relative;
  top: 0;
}

/* For background images so we can apply filters */
.slide {
  overflow: auto;
  position: relative;
}
/* Background image */
.slide:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 5em 1em #000; /* Vignette */
  width: 100%;
  height: 100%;
}
/* Background image to render things on top of */
.slide.bg-fade:before {
  -webkit-filter: blur(3px) grayscale(0.1) brightness(0.2);
  filter: blur(3px) grayscale(0.1) brightness(0.2);
}
.slide.bg-fade-more:before {
  -webkit-filter: blur(4px) grayscale(0.1) brightness(0.1);
  filter: blur(4px) grayscale(0.1) brightness(0.1);
}
.slide-content {
  z-index: 1;
}

/* Slide specific styles here */

#slide-1 img {
  -webkit-filter: drop-shadow( 5px 5px 5px #000 );
  filter: drop-shadow( 5px 5px 5px #000 );
}

#slide-1 img:nth-of-type(2) {
  width: 75%;
}

.valign-top h2 {
  margin: 1em 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#slide-1 h2 {
  font-size: 1.3em;
}

#slide-1 h2.emoji {
  font-size: 3em;
}

#slide-1 h3 {
  font-size: 1.2em;
}

#payment-gateways {
  margin-bottom: 0.2em;
}

.payment-gateways .pun {
  font-size: 0.9em;
}

.payment-gateways img {
  background: #fff;
  padding: 0.5em 2em;
  border-radius: 1em;
}

.logos .flex {
  background: #fff;
  box-sizing: border-box;
  padding: 0.5em 2em;
  border-radius: 1em;
}

.three-images .slide-content p img {
  max-width: 32%;
}

.four-images .slide-content p img {
  max-width: 24%;
}

.five-images .slide-content p img {
  max-width: 17%;
}

.logos h2 {
  margin-bottom: 1em;
}

.logos img {
  max-width: 30%;
  max-height: 5em;
  padding: 0 1em;
  margin-bottom: 0.5em;
}

.gold-coins img {
  margin-top: 1em;
  width: 5em;
}

.logos .pun {
  font-size: 0.9em;
}

.slide:before {
  background-image: url(images/mariobackground-rayche.jpg);
  -webkit-filter: blur(6px) brightness(0.3);
  filter: blur(6px) brightness(0.3);
}

.slide.bg-sadmario:before {
  background-image: url(images/sadmario-travis-edit2.jpg);
  -webkit-filter: blur(1px) brightness(0.6);
  filter: blur(1px) brightness(0.6);
  box-shadow: inset 0 0 5em 1em #333; /* Less vignette */
}

.slide.bg-mario:before {
  background-image: url(images/mario-sergey.jpg);
}

.slide.bg-mariocloseup:before {
  background-image: url(images/mariocloseup-dave.jpg);
}

.slide.bg-bowser:before {
  background-image: url(images/marioluigibowser-brick101.jpg);
}

.slide.bg-insertcoin:before {
  background-image: url(images/insertcoin-jan.jpg);
}

.slide.bg-goomba:before {
  background-image: url(images/goomba-flavio-edit.jpg);
}

.slide.bg-booghost:before {
  background-image: url(images/booghost-fujoshi.jpg);
}

.slide.bg-mariocoin1:before {
  background-image: url(images/mariocoin-avery.jpg);
}

.slide.bg-mariocoin2:before {
  background-image: url(images/mariocoins-kent.jpg);
}

.slide.bg-marioblock:before {
  background-image: url(images/marioblock-leandro.jpg);
}

.slide.bg-mariohooray:before {
  background-image: url(images/mariohooray-laurence.jpg);
}

.emoji {
  font-weight: normal;
}

.what-if img {
  max-height: 60vh;  
}

.mobile-app-integrations img {
  max-height: 60vh;
}

.browser-support .container {
  margin: 2em 0;
}

.browser-support .container div {
  max-width: 25%;
  box-sizing: border-box;
  float: left;
  padding: 1em;
}

.browser-support .container img {
  width: 100%;
  margin-bottom: 1em;
}

.browser-support .container p {
  font-size: 0.9em;
}

.thanks img {
  margin-top: 0.5em;
  width: 2em;
}

.thanks .contact {
  margin-top: 1.5em;
}

.further-resources li {
  font-size: 0.8em;
}
